{% extends 'resume_app/partial_views/base.html' %}
{% load static %}

{% block nav_content %}
  <div class="nav-box mt-2 px-4 py-2 text-center">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class='no-style' href="{% url 'personal_info' user_id %}">Personal Information</a></li>
        <li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'objective' user_id %}">Objective</a></li>
        <li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'education' user_id %}">Education</a></li>
        <li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'work_experience' user_id %}">Work Experience</a></li>
        <li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'internship' user_id %}">Internships/Volunteer Experience</a></li>
        <li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'skills' user_id %}">Skills</a></li>
        <li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'awards' user_id %}">Awards</a></li>
        <li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'affiliations' user_id %}">Affiliations</a></li>
        <li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'references' user_id %}">References</a></li><li class="breadcrumb-item" aria-current="page"><a class='no-style' href="{% url 'additional_info' user_id %}">Additional Information</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a class='no-style' href="{% url 'job_description' user_id %}">Job Description</a></li>
      </ol>
    </nav>
  </div>
{% endblock nav_content %}

{% block content %}
<form method="POST">
  {% csrf_token %}
      <h1 class="display-4 text-center">Job Description</h1>
      <hr>
      <div class="mb-3">
        <label for="job_des_id" class="form-label">What job are you applying for? (Include the full job description for best results.)</label>
        <textarea class="form-control" name="job_des" id="job_des_id" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary text-center">Generate</button>
    </form>
{% endblock content %}